
.bg-green{
    background-color: rgba(122, 255, 122, 0.121);
    transition: 0.3s;
}
.bg-red{
    background-color: rgba(255, 80, 80, 0.122);
    transition: 0.3s;
}
.bg-ferro{
    background-color: rgb(32,167,222);
    transition: 0.3s;
}

.bg-green:hover{
    background-color: rgba(122, 255, 122, 0.856);
}
.bg-red:hover{
    background-color: rgba(255, 80, 80, 0.889);
}


/* -----------------------------mobile---------------------------- */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.btn-lg{
    font-size: 3ch;
}

.inicio-container {
    height: 100%;
    width: 100%;
    background-image: url("/images/portada2.jpg");
    background-size:contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
.titulofuturo{
    margin-top: 18%;
}


.mt-10{
    margin-top: 33%;
    margin-left: 5%;
}

#btn-inicio {
    z-index: 1;
    font-size: 3.5ch;
    padding: 10px 20px;
    background-color: rgba(32, 168, 222, 0.900);
    box-shadow: 4px 10px 18px 6px rgba(0, 0, 0, 0.692);
    border-radius: 3%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contenido-principal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;

}
.navbar{
    display: none;
    color: rgb(0, 0, 0);
    background-color: rgba(32, 168, 222);


}
.dropdown-item{
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(76, 76, 76);
    font-size: 3.5ch;
}
.navbarcolor{
    background-color: rgba(26, 121, 159, 0.901)!important;
    box-shadow: 11px 11px 29px -11px rgba(0,0,0,0.75);
    color: rgb(11, 11, 11);;

}
.bi-exclamation-diamond-fill{
    font-size: 4ch;
    color: red;
}
.bi-check-circle-fill{
    font-size: 4ch;
    color: green;
}
.card{
    scale: 0.9;
}
.card:hover{
    scale: 1.0;
    color: black;
}
.offcanvas-body {
    background-color: rgba(26, 121, 159, 0.09)!important;

}
@keyframes iconoalert {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

.iconoalert *{
    animation: pulse 1s infinite alternate;
    height: 45px;
    width: 45px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-brand,.navbar-toggler-icon,.nav-link {
    color: rgb(255, 255, 255);
    font-size: 3.5ch;
}
.nav-link:visited,.navbar-brand:visited{
    color: rgb(255, 255, 255);
    font-size: 3.5ch;
}
.nav-link:hover,.navbar-brand:hover,.nav-link:active,.navbar-brand:active{
    color: gray;
}
.bg-green-mobile{
    background-color: rgba(51, 105, 51, 0.9);
    border-radius: 3%;
    box-shadow: 11px 11px 29px -11px rgba(0,0,0,0.75);
}
.bg-red-mobile{
    background-color: rgba(94, 29, 29, 0.9);
    border-radius: 3%;
    box-shadow: 11px 11px 29px -11px rgba(0,0,0,0.75);
}
.bg-ferro-mobile{
    background-color: rgba(32, 168, 222, 0.900);
    box-shadow: 11px 11px 29px -11px rgba(0,0,0,0.75);
    border-radius: 3%;
}
.btn-firma{
    background-color: rgba(0, 128, 98, 0.91);
    border-color: green;
    box-shadow: 4px 10px 18px 6px rgba(0,0,0,0.77);
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
}
.btn-firma1{
    background-color: rgba(0, 128, 98, 0.91);
    height: 3rem;
    width: 15rem;
    border-radius: 5px;
    border-color: green;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: large;
    
}
.btn-firma1:active{
    background-color: rgba(0, 62, 48, 0.91);
    border-radius: 5px;
    border-color: green;
    box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);    
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
}
.btn-firma:hover{
    background-color: rgba(0, 62, 48, 0.91);
    border-color: green;
    box-shadow: 4px 10px 18px 6px rgba(0,0,0,0.77);
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
}
.btn-primary{
    background-color: rgba(26, 121, 159, 0.9);
    border-color: rgba(32, 168, 222, 0.945);
    box-shadow: 4px 10px 18px 6px rgba(0,0,0,0.77);
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contenedor-titulo{
    left: 50%;
    top: 20%;
    width: 90%;
}
.contenedor-firma{
    left: 50%;
    bottom: 10%;
    width: 90%;
}
.roboto-mono {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.titulo{
    color: rgb(255, 255, 255);
}
.textcolor{
    color: white;
    font-size: 2ch;

}
#footer{
    display: none;
}
.bg-body-tertiary {
    --mdb-bg-opacity: 1;
    color: white;
    background-color: rgba(26, 121, 159, 0.9)!important;
}
.text-body {
    --mdb-text-opacity: 1;
    color: white!important;
}

#map {
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
}
div:where(.swal2-container) div:where(.swal2-popup) {
    max-width: 100% !important
}
div:where(.swal2-container) .swal2-html-container {
    margin: 0 !important;
}
div:where(.swal2-container) button:where(.swal2-close) {
    color: #000000 !important;
    /* margin-top: 5% !important;
    margin-right: 100% !important;
    position: fixed !important; */

}
.carousel-control-prev, .carousel-control-next {
    color: black;

}
.customTooltip *{
    font-family: "Squada One", sans-serif!important;
    font-weight: 400!important;
    font-style: normal!important;
  
}
.carousel-control-prev:focus, .carousel-control-next:focus {
    color: rgb(123, 123, 123);
}
.carousel-control-prev:hover, .carousel-control-next:hover {
    color: rgb(162, 162, 162);
}
.carousel-control-prev, .carousel-control-next {
    font-size: 6ch !important;
    color: white;
    opacity: 100 !important;
}
#iconotools{
    color: white;
}